absl-py==0.10.0
aiodns==1.1.1
aiohttp @ file:///tmp/build/80754af9/aiohttp_1614360989480/work
altgraph==0.17
anaconda-client==1.7.2
anaconda-navigator==1.9.12
appdirs==1.4.4
argon2-cffi==20.1.0
astunparse==1.6.3
async-timeout==3.0.1
attrs==19.3.0
autobahn==20.4.3
Automat==20.2.0
backcall==0.2.0
backports.functools-lru-cache==1.6.1
backports.tempfile==1.0
backports.weakref==1.0.post1
beautifulsoup4==4.9.1
binarytree==5.1.0
bleach==3.1.5
blessings==1.7
blinker==1.4
Brotli==1.0.9
cachetools @ file:///home/conda/feedstock_root/build_artifacts/cachetools_1619593780156/work
ccxt==1.29.36
certifi==2021.5.30
cffi==1.14.0
chardet==3.0.4
chembl-webresource-client==0.10.4
click==7.1.2
clyent==1.2.2
conda==4.10.3
conda-build==3.18.11
conda-package-handling==1.7.0
conda-verify==3.4.2
constantly==15.1.0
cryptography==2.9.2
cycler==0.10.0
Cython==0.29.21
dash==1.21.0
dash-core-components==1.17.1
dash-html-components==1.1.4
dash-renderer==1.9.1
dash-table==4.12.0
dateparser==0.7.4
decorator==4.4.2
defusedxml==0.6.0
dill==0.3.3
dlx==1.0.4
docplex==2.19.202
earthengine-api @ file:///home/conda/feedstock_root/build_artifacts/earthengine-api_1627081692933/work
easydict==1.9
ee==0.2
entrypoints==0.3
fastdtw==0.3.4
fastjsonschema==2.14.5
filelock==3.0.12
Flask==2.0.1
Flask-Compress==1.10.1
future==0.18.2
gast==0.3.3
gensim==3.8.3
glob2==0.7
google-api-core @ file:///home/conda/feedstock_root/build_artifacts/google-api-core-split_1626186179198/work
google-api-python-client @ file:///home/conda/feedstock_root/build_artifacts/google-api-python-client_1605727368232/work
google-auth @ file:///home/conda/feedstock_root/build_artifacts/google-auth_1626828116638/work
google-auth-httplib2 @ file:///home/conda/feedstock_root/build_artifacts/google-auth-httplib2_1617387471894/work
google-auth-oauthlib==0.4.1
google-cloud-core @ file:///home/conda/feedstock_root/build_artifacts/google-cloud-core_1624803901012/work
google-cloud-storage==1.19.0
google-crc32c @ file:///tmp/build/80754af9/google-crc32c_1612242929593/work
google-pasta==0.2.0
google-resumable-media @ file:///home/conda/feedstock_root/build_artifacts/google-resumable-media_1624807487212/work
googleapis-common-protos @ file:///home/conda/feedstock_root/build_artifacts/googleapis-common-protos-feedstock_1616710767141/work
grpcio @ file:///home/conda/feedstock_root/build_artifacts/grpcio_1604365513151/work
gunicorn==20.1.0
h5py==2.10.0
httplib2 @ file:///home/conda/feedstock_root/build_artifacts/httplib2_1617134439639/work
hyperlink==19.0.0
idna==2.10
importlib-metadata==1.7.0
incremental==17.5.0
inflection==0.5.1
int-date==0.1.8
ipykernel==5.3.4
ipython==7.18.1
ipython-genutils==0.2.0
ipywidgets==7.6.3
itsdangerous==2.0.1
jedi==0.17.2
Jinja2==3.0.1
joblib==0.16.0
json5==0.9.5
jsonschema==3.2.0
jupyter-client==6.1.7
jupyter-core==4.6.3
jupyterlab==2.2.6
jupyterlab-server==1.2.0
jupyterlab-widgets==1.0.0
Keras-Applications==1.0.8
Keras-Preprocessing==1.1.2
kiwisolver==1.2.0
libarchive-c==2.9
llvmlite==0.31.0
lxml==4.5.2
Mako==1.1.3
Markdown==3.2.2
MarkupSafe==2.0.1
matplotlib==3.3.0
mistune==0.8.4
mkl-fft==1.0.15
mkl-random==1.1.1
mkl-service==2.3.0
mock==4.0.2
more-itertools==8.6.0
mpmath==1.1.0
multidict @ file:///tmp/build/80754af9/multidict_1607367738239/work
multitasking==0.0.9
navigator-updater==0.2.1
nbconvert==5.6.1
nbformat==5.0.6
nest-asyncio==1.4.3
networkx==2.5
nltk==3.5
notebook==6.1.3
ntlm-auth==1.5.0
numba==0.48.0
numpy==1.18.5
oauthlib==3.1.0
olefile==0.46
opt-einsum==3.3.0
packaging @ file:///home/conda/feedstock_root/build_artifacts/packaging_1625323647219/work
pandas==1.1.4
pandocfilters==1.4.2
parso==0.7.1
pathspec==0.8.0
pexpect==4.8.0
pickleshare==0.7.5
Pillow==7.1.2
pkginfo==1.5.0.1
plotly==5.1.0
ply==3.11
prometheus-client==0.8.0
prompt-toolkit==3.0.7
protobuf==3.17.2
psutil==5.7.0
ptyprocess==0.6.0
pyasn1==0.4.8
pyasn1-modules==0.2.8
pybind11==2.6.1
pycairo==1.18.0
pycares==3.1.1
pycosat==0.6.3
pycparser==2.20
pycuda==2019.1.2
pydot==1.4.1
pygame==1.9.6
Pygments==2.6.1
PyHamcrest==2.0.2
PyInstaller==3.6
PyJWT==1.7.1
pylatexenc==2.8
pyOpenSSL @ file:///tmp/build/80754af9/pyopenssl_1608057966937/work
pyparsing==2.4.7
pyrsistent==0.16.0
PySocks==1.7.1
pyte==0.8.0
python-binance==0.6.8
python-constraint==1.4.0
python-dateutil==2.8.1
pytools==2020.4
pyttsx3==2.71
pytz==2020.1
pyu2f @ file:///home/conda/feedstock_root/build_artifacts/pyu2f_1604248910016/work
PyYAML==5.3.1
pyzmq==19.0.2
qiskit==0.23.2
qiskit-aer==0.7.2
qiskit-aqua==0.8.1
qiskit-ibmq-provider==0.11.1
qiskit-ignis==0.5.1
qiskit-terra==0.16.1
qiskit-textbook @ git+https://github.com/qiskit-community/qiskit-textbook.git@92e2d2459d8e772c82cd410140cb0e39e94e716b#subdirectory=qiskit-textbook-src
QtPy==1.9.0
Quandl==3.6.0
regex==2020.5.14
reloadex==0.6
requests==2.24.0
requests-cache==0.6.4
requests-ntlm==1.1.0
requests-oauthlib==1.3.0
retworkx==0.7.2
rsa @ file:///home/conda/feedstock_root/build_artifacts/rsa_1614171254180/work
ruamel-yaml==0.15.87
scikit-learn==0.23.2
scikit-surprise==1.1.1
scipy==1.4.1
seaborn==0.11.0
Send2Trash==1.5.0
service-identity==18.1.0
simplejson @ file:///tmp/build/80754af9/simplejson_1626446508825/work
six==1.15.0
sklearn==0.0
smart-open==4.0.1
soupsieve==2.0.1
stockstats==0.3.1
surprise==0.1
sympy==1.7.1
tenacity==8.0.1
tensorboard==2.3.0
tensorboard-plugin-wit==1.7.0
tensorflow==2.3.1
tensorflow-estimator==2.3.0
tensorflow-gpu==2.3.0
termcolor==1.1.0
terminado==0.8.3
termtosvg==1.1.0
testpath==0.4.4
threadpoolctl==2.1.0
torch==1.5.0
torchvision==0.6.0a0+82fd1c8
tornado==6.0.4
tqdm==4.46.0
traitlets==4.3.3
tweepy==3.8.0
Twisted==20.3.0
txaio==20.4.1
typing-extensions @ file:///home/conda/feedstock_root/build_artifacts/typing_extensions_1622748266870/work
tzlocal==2.1
uritemplate==3.0.1
url-normalize==1.4.3
urllib3==1.25.10
vtk==8.2.0
wcwidth==0.2.5
webencodings==0.5.1
websockets==8.1
Werkzeug==2.0.1
widgetsnbextension==3.5.1
wrapt==1.12.1
xmltodict==0.12.0
yarl @ file:///home/conda/feedstock_root/build_artifacts/yarl_1605429464118/work
yfinance==0.1.55
zipp==3.1.0
zope.interface==5.1.0
